# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Large data files
data/*.csv

# Local configuration
.env

# IDE specific files
.vscode/
.idea/

# Flask Caching Dir
cache-directory/